.MovieList {
    display: flex;
    flex-direction: column;
    width: 50vw
}

.Movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Center {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MovieName {
    background-color:brown;
    color:white;
}

.MovieRating {
    background-color: bisque;
}